@{
    Layout = null;
}
<!DOCTYPE html>

<html ng-app="EcoApp">
    <head>
        <!--Application Metadata-->
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="Victor De Velasco" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Project Information-->
        <title>
            Eco Help
        </title>

        <!-- Styling Libraries -->
        <link href="@Url.Content("~/Resources/libraries/material-icons/material-icons.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Resources/libraries/materialize/css/materialize.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Resources/css/layout.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Resources/css/toast.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Resources/css/sidenav.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Resources/css/spinner.css")" rel="stylesheet" />

        <script>
            var path = "@ViewBag.Url";
        </script>

        <!--Angular Core-->
        <script src="@Url.Content("~/Resources/libraries/jquery/jquery-3.1.1.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/linqjs/jquery.linq.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/linqjs/linq.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/materialize/js/materialize.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/angular/angular.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/angular/angular-animate.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/angular/angular-sanitize.js")"></script>
        <script src="@Url.Content("~/Resources/libraries/angular/angular-route.js")"></script>
        <script src="@Url.Content("~/App/app.module.js")"></script>
        <script src="@Url.Content("~/App/app.config.js")"></script>
        <script src="@Url.Content("~/App/Components/Directives/fallbackScr.js")"></script>
        <script src="@Url.Content("~/App/Components/Home/Home.Controller.js")"></script>
        <script src="@Url.Content("~/App/Components/Home/Home.Service.js")"></script>
    </head>

    <body ng-controller="Home" ng-cloak>
        <nav class="nav grey darken-4">
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">
                    menu
                </i>
            </a>

            <img class="logo" src="~/Resources/images/gaslogo.jpg" />

            <div class="title hide-on-med-and-down">
                Eco Help
            </div>

            <ul class="hide-on-med-and-down">
                <li class="user">
                    <img fallback-src="{{FallBackPicture}}" ng-src="~/Resources/images/circle_person.png" alt="" />
                    <div class="name">{{CurrentUser.FullName}}</div>
                </li>
            </ul>

            <div class="clearfix"></div>
        </nav>

        <ul id="slide-out" class="side-nav">
            <li class="head-item">
                <span class="title">
                    Eco Help
                </span>

                <img fallback-src="{{FallBackPicture}}" ng-src="~/Resources/images/circle_person.png" alt="" />
                <div class="name">{{CurrentUser.FullName}}</div>
            </li>

            <li ng-repeat="category in Categories">
                <a href="#!" class="waves-effect">{{category.Name}}</a>
            </li>
        </ul>

        <div class="row marginless">
            <div class="hide-on-med-and-down col s3 view">
                <div class="left-nav">
                    <ul>
                        <li>
                            <b>Errores</b>
                        </li>

                        <li class="category-item" ng-repeat="category in Categories">
                            <div class="divider"></div>

                            <b>{{category.Name}}</b>

                            <ul>
                                <li ng-repeat="issue in category.Issues">
                                    <a href="#!" class="waves-effect" ng-click="LoadCauses(issue)">
                                        {{issue.Name}}

                                        <span class="priority-{{issue.Priority.Id}}">
                                            &nbsp;&nbsp;&nbsp;({{issue.Priority.Name}})
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>